@import "variables";

@font-face {
  font-family: 'rancher-icons';
  src:
    url('#{$icomoon-font-path}/rancher-icons.ttf?1e7gsz') format('truetype'),
    url('#{$icomoon-font-path}/rancher-icons.woff?1e7gsz') format('woff'),
    url('#{$icomoon-font-path}/rancher-icons.svg?1e7gsz#rancher-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rancher-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sidekick {
  &:before {
    content: $icon-sidekick; 
  }
}
.icon-thumbs-down {
  &:before {
    content: $icon-thumbs-down; 
  }
}
.icon-thumbs-up {
  &:before {
    content: $icon-thumbs-up; 
  }
}
.icon-circle {
  &:before {
    content: $icon-circle; 
  }
}
.icon-adjust {
  &:before {
    content: $icon-adjust; 
  }
}
.icon-circle-o {
  &:before {
    content: $icon-circle-o; 
  }
}
.icon-dot-diagonalfill {
  &:before {
    content: $icon-dot-diagonalfill; 
  }
}
.icon-dot-circlefill {
  &:before {
    content: $icon-dot-circlefill; 
  }
}
.icon-spinner {
  &:before {
    content: $icon-spinner; 
  }
}
.icon-check {
  &:before {
    content: $icon-check; 
  }
}
.icon-x {
  &:before {
    content: $icon-x; 
  }
}
.icon-close {
  &:before {
    content: $icon-close; 
  }
}
.icon-chevron-down {
  &:before {
    content: $icon-chevron-down; 
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left; 
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right; 
  }
}
.icon-chevron-up {
  &:before {
    content: $icon-chevron-up; 
  }
}
.icon-chevron-beginning {
  &:before {
    content: $icon-chevron-beginning; 
  }
}
.icon-chevron-end {
  &:before {
    content: $icon-chevron-end; 
  }
}
.icon-plus {
  &:before {
    content: $icon-plus; 
  }
}
.icon-medical-cross {
  &:before {
    content: $icon-medical-cross; 
  }
}
.icon-minus {
  &:before {
    content: $icon-minus; 
  }
}
.icon-pause {
  &:before {
    content: $icon-pause; 
  }
}
.icon-play {
  &:before {
    content: $icon-play; 
  }
}
.icon-stop {
  &:before {
    content: $icon-stop; 
  }
}
.icon-download {
  &:before {
    content: $icon-download; 
  }
}
.icon-upload {
  &:before {
    content: $icon-upload; 
  }
}
.icon-arrow-circle-up {
  &:before {
    content: $icon-arrow-circle-up; 
  }
}
.icon-star-line {
  &:before {
    content: $icon-star-line; 
  }
}
.icon-star-fill {
  &:before {
    content: $icon-star-fill; 
  }
}
.icon-star-half {
  &:before {
    content: $icon-star-half; 
  }
}
.icon-auto {
  &:before {
    content: $icon-auto; 
  }
}
.icon-moon {
  &:before {
    content: $icon-moon; 
  }
}
.icon-sun {
  &:before {
    content: $icon-sun; 
  }
}
.icon-help {
  &:before {
    content: $icon-help; 
  }
}
.icon-info {
  &:before {
    content: $icon-info; 
  }
}
.icon-refresh {
  &:before {
    content: $icon-refresh; 
  }
}
.icon-success {
  &:before {
    content: $icon-success; 
  }
}
.icon-minus-circle {
  &:before {
    content: $icon-minus-circle; 
  }
}
.icon-plus-circle {
  &:before {
    content: $icon-plus-circle; 
  }
}
.icon-x-circle {
  &:before {
    content: $icon-x-circle; 
  }
}
.icon-backup {
  &:before {
    content: $icon-backup; 
  }
}
.icon-history {
  &:before {
    content: $icon-history; 
  }
}
.icon-snapshot {
  &:before {
    content: $icon-snapshot; 
  }
}
.icon-plus-square {
  &:before {
    content: $icon-plus-square; 
  }
}
.icon-minus-square {
  &:before {
    content: $icon-minus-square; 
  }
}
.icon-x-square {
  &:before {
    content: $icon-x-square; 
  }
}
.icon-square {
  &:before {
    content: $icon-square; 
  }
}
.icon-cpu {
  &:before {
    content: $icon-cpu; 
  }
}
.icon-memory {
  &:before {
    content: $icon-memory; 
  }
}
.icon-hdd {
  &:before {
    content: $icon-hdd; 
  }
}
.icon-database {
  &:before {
    content: $icon-database; 
  }
}
.icon-network {
  &:before {
    content: $icon-network; 
  }
}
.icon-vm {
  &:before {
    content: $icon-vm; 
  }
}
.icon-box {
  &:before {
    content: $icon-box; 
  }
}
.icon-container {
  &:before {
    content: $icon-container; 
  }
}
.icon-containers {
  &:before {
    content: $icon-containers; 
  }
}
.icon-service {
  &:before {
    content: $icon-service; 
  }
}
.icon-services {
  &:before {
    content: $icon-services; 
  }
}
.icon-bookmark-fill {
  &:before {
    content: $icon-bookmark-fill; 
  }
}
.icon-bookmark {
  &:before {
    content: $icon-bookmark; 
  }
}
.icon-share {
  &:before {
    content: $icon-share; 
  }
}
.icon-tag {
  &:before {
    content: $icon-tag; 
  }
}
.icon-home {
  &:before {
    content: $icon-home; 
  }
}
.icon-certificate {
  &:before {
    content: $icon-certificate; 
  }
}
.icon-process {
  &:before {
    content: $icon-process; 
  }
}
.icon-processes {
  &:before {
    content: $icon-processes; 
  }
}
.icon-gear {
  &:before {
    content: $icon-gear; 
  }
}
.icon-secrets {
  &:before {
    content: $icon-secrets; 
  }
}
.icon-user {
  &:before {
    content: $icon-user; 
  }
}
.icon-users {
  &:before {
    content: $icon-users; 
  }
}
.icon-alert {
  &:before {
    content: $icon-alert; 
  }
}
.icon-notification {
  &:before {
    content: $icon-notification; 
  }
}
.icon-cloud {
  &:before {
    content: $icon-cloud; 
  }
}
.icon-compass {
  &:before {
    content: $icon-compass; 
  }
}
.icon-globe {
  &:before {
    content: $icon-globe; 
  }
}
.icon-garbage {
  &:before {
    content: $icon-garbage; 
  }
}
.icon-edit {
  &:before {
    content: $icon-edit; 
  }
}
.icon-trash {
  &:before {
    content: $icon-trash; 
  }
}
.icon-unmute {
  &:before {
    content: $icon-unmute; 
  }
}
.icon-mute {
  &:before {
    content: $icon-mute; 
  }
}
.icon-key {
  &:before {
    content: $icon-key; 
  }
}
.icon-umbrella {
  &:before {
    content: $icon-umbrella; 
  }
}
.icon-purged {
  &:before {
    content: $icon-purged; 
  }
}
.icon-life-ring {
  &:before {
    content: $icon-life-ring; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-terminal {
  &:before {
    content: $icon-terminal; 
  }
}
.icon-link {
  &:before {
    content: $icon-link; 
  }
}
.icon-external-link {
  &:before {
    content: $icon-external-link; 
  }
}
.icon-ellipsis {
  &:before {
    content: $icon-ellipsis; 
  }
}
.icon-vertical-ellipsis {
  &:before {
    content: $icon-vertical-ellipsis; 
  }
}
.icon-copy {
  &:before {
    content: $icon-copy; 
  }
}
.icon-file {
  &:before {
    content: $icon-file; 
  }
}
.icon-files {
  &:before {
    content: $icon-files; 
  }
}
.icon-catalog {
  &:before {
    content: $icon-catalog; 
  }
}
.icon-dotview {
  &:before {
    content: $icon-dotview; 
  }
}
.icon-boxview {
  &:before {
    content: $icon-boxview; 
  }
}
.icon-folder {
  &:before {
    content: $icon-folder; 
  }
}
.icon-folder-open {
  &:before {
    content: $icon-folder-open; 
  }
}
.icon-sort {
  &:before {
    content: $icon-sort; 
  }
}
.icon-sort-up {
  &:before {
    content: $icon-sort-up; 
  }
}
.icon-sort-down {
  &:before {
    content: $icon-sort-down; 
  }
}
.icon-fork {
  &:before {
    content: $icon-fork; 
  }
}
.icon-level-down {
  &:before {
    content: $icon-level-down; 
  }
}
.icon-hamburger-nav {
  &:before {
    content: $icon-hamburger-nav; 
  }
}
.icon-tasks {
  &:before {
    content: $icon-tasks; 
  }
}
.icon-list {
  &:before {
    content: $icon-list; 
  }
}
.icon-list-nested {
  &:before {
    content: $icon-list-nested; 
  }
}
.icon-host {
  &:before {
    content: $icon-host; 
  }
}
.icon-hosts {
  &:before {
    content: $icon-hosts; 
  }
}
.icon-cluster {
  &:before {
    content: $icon-cluster; 
  }
}
.icon-logout {
  &:before {
    content: $icon-logout; 
  }
}
.icon-apple {
  &:before {
    content: $icon-apple; 
  }
}
.icon-docker {
  &:before {
    content: $icon-docker; 
  }
}
.icon-github {
  &:before {
    content: $icon-github; 
  }
}
.icon-gitlab {
  &:before {
    content: $icon-gitlab; 
  }
}
.icon-kubernetes {
  &:before {
    content: $icon-kubernetes; 
  }
}
.icon-linux {
  &:before {
    content: $icon-linux; 
  }
}
.icon-rancher-cow {
  &:before {
    content: $icon-rancher-cow; 
  }
}
.icon-windows {
  &:before {
    content: $icon-windows; 
  }
}
.icon-azuread {
  &:before {
    content: $icon-azuread; 
  }
}

